# .env template
# ~~~~~~~~~~~~~
#
##### Copy to hidden file #####
#
# $ cp env_template .env
#
##### Fill in values ##########
#
# $ vim .env
#
##### Load it #################
#
# $ pipenv shell
#
# -OR-
#
# $ set -a; source .env; set +a
#
# Warning: NEVER push this file to your public repository!!!

# Twitter API
TWITTER_CONSUMER_KEY=???
TWITTER_CONSUMER_SECRET_KEY=???

# Meetup API
MEETUP_CONSUMER_KEY=???
MEETUP_CONSUMER_SECRET_KEY=???
MEETUP_REDIRECT_URI=http://127.0.0.1:8000/meetup/callback/

# Spotify API
SPOTIFY_CLIENT_ID=???
SPOTIFY_CLIENT_SECRET=???

# Reddit API
REDDIT_CLIENT_ID=???
REDDIT_CLIENT_SECRET=???
# Replace `MYAPPNAME` and `MYUSERNAME`
REDDIT_USER_AGENT="web:MYAPPNAME:v1.0 (by /u/MYUSERNAME)"

# Postgresql
DB_NAME=???
DB_USER=???
DB_PASS=???
DB_HOST=localhost
DB_PORT=5432

# OAuth debug mode (necessary to allow non-https redirect URIs)
OAUTHLIB_INSECURE_TRANSPORT=1

# Generate a key from root of Django project with this:
# $ python manage.py shell -c 'from django.core.management import utils; print(utils.get_random_secret_key())'
SECRET_KEY=???

