# ~~~~~~~~~~~~~~
#  env template
# ~~~~~~~~~~~~~~
#
# WARNING: Never push this to your public repo!!!

# Twitter API
TWITTER_CONSUMER_KEY=???
TWITTER_CONSUMER_SECRET_KEY=???

# Meetup API
MEETUP_CONSUMER_KEY=???
MEETUP_CONSUMER_SECRET_KEY=???
MEETUP_REDIRECT_URI=http://127.0.0.1:8000/meetup/callback/

# Spotify API
SPOTIFY_CLIENT_ID=???
SPOTIFY_CLIENT_SECRET=???

# Reddit API
REDDIT_CLIENT_ID=???
REDDIT_CLIENT_SECRET=???
REDDIT_USER_AGENT="web:MYAPPNAME:v1.0 (by /u/MYUSERNAME)" # <-- Replace `MYAPPNAME` & `MYUSERNAME`

# PostgreSQL
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/1

# Necessary to allow non-https redirect URIs
OAUTHLIB_INSECURE_TRANSPORT=1

# Generate a different key from root of Django project with:
# $ python manage.py shell -c 'from django.core.management import utils; print(utils.get_random_secret_key())'
SECRET_KEY=poo

