[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
tweepy = "*"
django = "*"
requests = "*"
psycopg2 = "*"
requests-oauthlib = "*"
praw = "*"
pytz = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
dj-database-url = "*"

[requires]
python_version = "3.7"
