-i https://pypi.org/simple
certifi==2019.6.16
chardet==3.0.4
django==2.2.3
gunicorn==19.9.0
idna==2.8
oauthlib==3.0.2
praw==6.3.1
prawcore==1.0.1
psycopg2==2.8.3
pysocks==1.7.0
pytz==2019.1
requests-oauthlib==1.2.0
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
tweepy==3.8.0
update-checker==0.16
urllib3==1.25.3
websocket-client==0.56.0
