{% extends "sns/base.html" %}
{% load sns_tags %}

{% block title %}{{ profile.name }}'s SNS Activity{% endblock %}

{% block body %}
<div class="container mt-3">
  <div class="row mb-1 justify-content-center">
    <div class="col-auto">
      <h2>{{ profile.name }}'s Activity</h2>
    </div>
    <div class="col-auto">
        <a class="card-link text-info" href="{% url 'profile_edit' pk=profile.pk %}" title="Edit">
          <span class="oi oi-pencil"></span>
        </a>
    </div>
  </div>
  <div class="row justify-content-center">
  {% for sns, acct in profile.get_fields %}
  {% if acct %}
    <div class="col-auto">
      <div class="card my-4">
        <h5 class="card-header"><a class="card-link text-info" href="https://{{ sns }}.com" target="_blank">{{ sns }}</a></h5>
        <div class="card-body">
          <div class="card-title text-muted">{{ acct|truncatechars:20 }}</div>
          <div class="card-text">
            <ul class="list-group list-group-flush">
            {% for d in data|get_sns:sns %}
              <li class="list-group-item small"><pre>{{ d|truncatechars_html:120 }}</pre></li>
            {% empty %}
              <li class="list-group-item small">No data.</li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock %}