{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'sns/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'sns/css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'sns/css/jquery-ui.min.css' %}">
  </head>
  <body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-info">
      <a class="navbar-brand" href="{% url 'profile_search' %}" title="Keep track of your friends">Panner</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <a class="btn btn-info btn-sm nav-item nav-link" role="button" title="Add someone new" href="{% url 'profile_new' %}">+</button>
          <a class="nav-item nav-link" title="See everyone" href="{% url 'profile-list' %}">People</a>
        </div>
      </div>
      {% block search %}
      <form class="form-inline" action="{% url 'profile_search' %}" method="get">
        <input class="form-control mr-sm-2" id="query_nav" type="search" name="profile_query" aria-label="Check on a friend...">
      </form>
      {% endblock %}
    </nav>

    {% if messages %}
    <div class="messages">
      {% for msg in messages %}
        <div class="alert alert-warning" role="alert">
          {{ msg.message }}
        </div>
      {% endfor %}
    </div>
    {% endif %}

    {% block body %}{% endblock %}
    <script src="{% static 'sns/js/jquery.min.js' %}"></script>
    <script src="{% static 'sns/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'sns/js/bootstrap.bundle.min.js' %}"></script>
    {% block script %}
    <script>
    $(function() {
      $("#query_main, #query_nav").autocomplete({
        source: "{% url 'profile_autocomplete' %}",
        autoFocus: true,
        select: function(event, ui) {
          $(this).val(ui.item.label);
          $(this).closest("form").submit();
        }
      });
    });
    </script>
{% endblock %}
  </body>
</html>