{% extends "sns/base.html" %}

{% block title %}People{% endblock %}

{% block body %}
<div class="container mt-3">
  <div class="row justify-content-center text-center mb-1">
    <div class="col">
      <h2>People</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    {% if not profiles %}
    <div class="col">
      No profiles to display.
    </div>
    {% else %}
    {% for p in profiles %}
    <div class="col">
        <div class="card my-4">
          <div class="card-header">
            <a class="card-link text-info text-center" data-toggle="collapse" href="#body_{{ p.pk }}" role="button" aria-expanded="false" aria-controls="body_{{ p.pk }}">
              <h4>{{ p.name }}</h4>
            </a>
          </div>
          <div class="collapse" id="body_{{ p.pk }}">
            <ul class="list-group list-group-flush">
            {% for sns, value in p.get_fields %}
              {% if value %}
              <li class="list-group-item">
                <i>{{ value }}</i> ({{ sns }})
              </li>
              {% endif %}
            {% endfor %}
            </ul>
            <div class="card-body small">
              <div class="col mb-2">
                <a class="card-link" href="{% url 'activity' pk=p.pk %}">View</a>
              </div>
              <div class="col mb-2">
                <a class="card-link" href="{% url 'profile_edit' pk=p.pk %}">Edit</a>
              </div>
              <div class="col">
                <a class="card-link" href="{% url 'profile_delete' pk=p.pk %}">Delete</a>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}