{% extends "sns/base.html" %}

{% block title %}People{% endblock %}

{% block body %}
<div class="container mt-3">
  <div class="row justify-content-center text-center mb-1">
    <div class="col">
      <h2>People</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    {% if not profiles %}
    <div class="col">
      No profiles to display.
    </div>
    {% else %}
    {% for p in profiles %}
    <div class="col-auto">
        <div class="card my-4">
          <div class="card-header">
            <div class="d-flex justify-content-center">
              <a class="card-link text-info mr-4" href="{% url 'activity' pk=p.pk %}" title="View activity">
                <h4>{{ p.name }}</h4>
              </a>
              <small>
                <a class="card-link text-info" data-toggle="collapse" href="#body_{{ p.pk }}" role="button" aria-expanded="false" aria-controls="body_{{ p.pk }}" title="View accounts">
                  <span class="oi oi-caret-bottom"></span>
                </a>
              </small>
            </div>
          </div>
          <div class="collapse" id="body_{{ p.pk }}">
            <ul class="list-group list-group-flush">
            {% for sns, value in p.get_fields %}
              {% if value %}
              <li class="list-group-item">
                <b>{{ sns }}</b> <i>{{ value|truncatechars:12 }}</i>
              </li>
              {% endif %}
            {% endfor %}
            </ul>
            <div class="card-body small">
              <div class="col text-right mb-2">
                <a class="card-link text-info" href="{% url 'profile_edit' pk=p.pk %}"><span class="oi oi-pencil"></span></a>
                <a class="card-link text-info" href="{% url 'profile_delete' pk=p.pk %}"><span class="oi oi-trash"></span></a>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}