{% extends "sns/base.html" %}

{% block title %}Person{% endblock %}

{% block body %}
<div class="field-errors">
{% for field in form %}
  {% if field.errors %}
  <div class="alert alert-warning" role="alert">{{ field.errors }}</div>
  {% endif %}
{% endfor %}
</div>

<div class="container mt-3">
  <div class="row justify-content-center text-center mb-1">
    <div class="col-9 col-sm-9 col-md-7 col-lg-5 col-xl-4">
        <h2>{% if form.instance.pk %}Edit{% else %}New{% endif %}</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-9 col-sm-9 col-md-7 col-lg-5 col-xl-4">
      <div class="card">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
              {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
            </div>
            {% endfor %}
            <div class="row">
              {% if form.instance.pk %}
              <div class="col-4 mr-auto">
                <a class="btn btn-danger" href="{% url 'profile_delete' pk=form.instance.pk %}" role="button">Delete</a>
              </div>
              {% endif %}
              <div class="col-4 ml-auto">
                <button class="btn btn-info" type="submit">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}